# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Data and Models
data/
!data/models/
data/historical_order_books/
data/models/growth_model.pkl

# Logs
logs/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/

# Other
.DS_Store
